div.jsoneditor-menu {
    color: white;
    background-color: #414141;
    border-bottom: 1px solid #aeaeae;
}
div.jsoneditor-menu .jsoneditor-poweredBy{
    display: none;
}
div.jsoneditor {
    overflow: visible;
}
div.ace_scroller {
    bottom:-12px!important;
}