
.sd_site_hierarchy_node_type_listView i {
    color:#a12525;
    font-size: 14px;
}
.sd_site_hierarchy_node_type_listView i:hover{
    color:#fa0000;
}
 .sd_site_hierarchy_node_type_listView .sd_site_hierarchy_node_menu_launcher {
    width:20px;
}
