.sd_navigation ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sd_navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.sd_navigation li {
    float: left;
}

.sd_navigation li a {
    display: block;
    color: #dddddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.sd_navigation li a:hover {
    color: rgb(255, 199, 44);
}
.sd_navigation .active {
    color: #fecb18;
}