

.sd_site_hierarchy_node_type_fieldLookupXML {
    min-width:360px;
}


.sd_site_hierarchy_node_type_fieldLookupXML i {
    color:#a12525;
    font-size: 14px;
}


.sd_site_hierarchy_node_type_fieldLookupXML .sd_site_hierarchy_node_menu_launcher {
    width: 20px;
}