.sd_site_hierarchy_node_field_deletion {
    width:300px;

}


.sd_site_hierarchy_node_menu_field_deletion i {
    color:#a12525;
    font-size: 14px;
}


.sd_site_hierarchy_node_menu_field_deletion  {
    width:20px;
}
