body {
  margin: 0;
  
}
.sd_main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Work Sans', Verdana, sans-serif;
}
.sd_body {
    display: flex;
    flex: 1;
}
.sd_header_container {

    height: 50px;
}

