

.sd_site_hierarchy_node_list {
    width:250px;
}
.sd_site_hierarchy_node_type_list i {
    color:#a12525;
    font-size: 14px;
}
.sd_site_hierarchy_node_type_list i:hover {
    color:#fa0000;
}
.sd_site_hierarchy_node_type_list .sd_site_hierarchy_node_menu_launcher {
    width:20px;
}
