.sd_site_hierarchy_caml_field .ms-TextField-field {
    color: rgb(80, 80, 80);
    /* border: 1px solid rgb(204, 204, 204); */
    border: 1px solid rgb(96, 94, 92);
    box-shadow: inset -1px 1px 4px -2px rgba(0, 0, 0, 0.26);
    padding-left: 3px;
    margin-bottom: 5px;
}

.sd_site_hierarchy_caml_field_not_valid {
    border: 1px solid red!important;
}